.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    width: calc(100% - 2rem);
    max-width: 1200px;

    margin-bottom: 2rem;
}

.leaderboard__header {
    display: flex;
    padding-inline: 7.5%;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    background-color: #85c65a;
    border-radius: 50px;
    margin: 1rem;
}

.leaderboard__header p {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: white;
    display: inline;
}

@media screen and (max-width: 600px) {
    .leaderboard__header p {
        font-size: 14px;
    }
}

.leaderboard__row {
    margin-inline: 3rem;
    display: flex;
    padding-inline: 7.5%;

    justify-content: space-between;
    align-items: center;
    height: 6rem;

    border-radius: 20px;

    transition: background-color 0.2s ease-in-out;
}

.leaderboard__row:hover {
    background-color: #ebebeb;
}

.leaderboard__row:last-of-type {
    margin-bottom: 3rem;
}

.leaderboard__row p {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: black;
    display: inline;
}

@media screen and (max-width: 600px) {
    .leaderboard__row p {
        font-size: 14px;
    }
}

.leaderboard__row .point {
    font-weight: 800;
    color: #5c4dc6;
    display: inline;
}

.date {
    position: relative;
    top: -3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 3rem;
    width: 200px;
    border-radius: 50px;
    background-color: #5c4dc6;
    color: white;
}

@media screen and (max-width: 600px) {
    .date {
        font-size: 14px;
    }
}
