.legend {
    width: calc(100% - 16rem);
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;

    border: none;
}

.legend .row:first-of-type {
    background-color: #5c4dc6;
    color: white;
    border-radius: 20px;
    height: 3rem;
}

.legend .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.legend .row:hover {
    background-color: #ebebeb;
}

th:first-child {
    text-align: left;
}

td:nth-child(2) {
    text-align: left;
}

td:nth-child(2) {
    text-align: center;
}
