@import url("https://fonts.googleapis.com/css2?family=Caveat&family=JetBrains+Mono:wght@400;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffcc00;
    font-family: "JetBrains Mono", monospace;
}

.credits {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    padding: 2rem;

    font-size: 20px;
    font-family: "Caveat", cursive;
    color: #925e0f;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    display: block;
    margin-inline: auto;
    margin-block: 2rem 2rem;
}

h1 {
    margin: 2rem 5rem;

    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 800;
}

.loading {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        margin: 2rem 2rem;
    }

    .credits {
        /* flex-direction: column; */
        font-size: 12px;
        gap: 1rem;
    }

    .logo {
        width: 200px;
        margin-bottom: 0;
    }

    .loading img {
        width: 128px;
    }
}
